// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$body-bg: #5551f7;
$body-color: #ffffff;

$nav-bg-small: #2b2c2d;
$nav-bg-big: transparent;
$nav-menu-icon-bg: #ffffff;
$nav-links-bg: #2b2c2d;
$nav-links-color: #ffffff;
$nav-links-hover-bg: #1b1c1d;
$nav-links-active-color: #acacac;

$header-name-color: rgba(#000000, 0.2);
$header-name-lastchild-bg: #ffffff;
$header-name-lastchild-color: #5551f7;

$isabelline: #eaeaea;
$orange: #fcca11;

// Typography
@import url('https://fonts.googleapis.com/css?family=Six+Caps|Alata|Comfortaa|Montserrat&display=swap');

$body-font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Six Caps', sans-serif;

$home-header-name-size: 40.6vw;
$home-header-link-size: 3.4vw;

// Main container minimum width breakpoints
$breakpoints: (
    sd: 600px,
    md: 768px,
    ld: 992px,
    xd: 1200px
);

// Main container maximum width
$conatiner-widths: (
    sd: 540px,
    md: 720px,
    ld: 892px,
    xd: 1100px
);
