// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$body-bg: #5551f7;
$body-color: #ffffff;

$nav-bg-small: #2b2c2d;
$nav-bg-big: transparent;
$nav-menu-icon-bg: #ffffff;
$nav-links-bg: #2b2c2d;
$nav-links-color: #ffffff;
$nav-links-hover-bg: #1b1c1d;
$nav-links-active-color: #acacac;

$header-name-color: rgba(#000000, 0.2);
$header-name-lastchild-bg: #ffffff;
$header-name-lastchild-color: #5551f7;

$access-link-color: #ffffff;

$form-header-bg: #2b2c2d;
$form-header-color: #ffffff;
$form-main-color: #eaeaea;
$form-input-color: #2b2c2d;
$form-placeholder-color: #b3b3b3;
$form-error-color: #ff0000;
$form-success-color: #02df93;
$form-submit-bg: #eaeaea;
$form-submit-border: #5551f7;
$form-submit-color: #5551f7;

$alert-error-bg: #ff0000;
$alert-warning-bg: #fcca11;
$alert-success-bg: #02df93;

$profile-bg: rgba(#000000, 0.2);

// Typography
@import url('https://fonts.googleapis.com/css?family=Six+Caps|Alata|Comfortaa|Montserrat&display=swap');

$body-font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Six Caps', sans-serif;

$home-header-name-size: 40.6vw;
$home-access-link-size: 3.4vw;

$form-header-title-size: 8vw;
$form-input-size: 4vw;
$form-icon-size: 5vw;
$form-note-size: 3vw;

$alert-size: 4vw;

$profile-link-size: 4vw;
$profile-icon-size: 3vw;

// Main container minimum width breakpoints
$breakpoints: (
    sd: 600px,
    md: 768px,
    ld: 992px,
    xd: 1200px
);

// Main container maximum width
$container-widths: (
    sd: 540px,
    md: 720px,
    ld: 892px,
    xd: 1100px
);

// Other
$transition-time: 0.4s;
$form-shadow: 10px 10px 20px rgba(#000, 0.4);
