// Elements mixins

@mixin link-border-animation {
    text-transform: uppercase;
    color: $access-link-color;

    &:after {
        content: "";
        display: block;
        width: 0;
        margin: 0 auto;
        border: 1px solid transparent;
        transition: all $transition-time ease-in-out;
    }

    &:hover:after {
        width: 100%;
        border-color: $access-link-color;
    }
}
