// Form mixins

@mixin page-centered-form {
    @include container-flex(v, column);
    width: 100%;
    min-height: calc(100vh - 200px);
    margin: 0 auto;

    .container {
        box-shadow: $form-shadow;
    }

    header {
        background: $form-header-bg;
        padding: 20px;
        text-align: center;
        color: $form-header-color;

        > h2 {
            text-transform: uppercase;
            font-size: $form-header-title-size;
        }
    }

    main {
        background: $form-main-color;
        padding: 20px 10%;
    }

    @media only screen and (min-width: map-get($breakpoints, "sd")) {
        width: 480px;

        header > h2 {
            font-size: vw-to-px(map-get($container-widths, "sd"), $form-header-title-size);
        }
    }
}

@mixin main-form {
    @include container-flex($direction: column);
    width: 100%;

    input {
        padding: 5px;
        font-size: $form-input-size;
    }

    @media only screen and (min-width: map-get($breakpoints, "sd")) {
        input {
            font-size: vw-to-px(map-get($container-widths, "sd"), $form-input-size);
        }
    }
}

@mixin form-group {
    height: 10vw;
    margin: 5px 0;

    .form__inputbox {
        @include container-flex(v);
        border-bottom: 2px solid $form-input-color;

        .form__icon {
            width: $form-icon-size;
            height: $form-icon-size;
            color: $form-input-color;

            &.form__eye {
                cursor: pointer;
            }
        }

        input {
            width: 100%;
            background: transparent;
            color: $form-input-color;

            &:-ms-input-placeholder {
                color: $form-placeholder-color;
            }

            &::-webkit-input-placeholder {
                color: $form-placeholder-color;
            }

            &::placeholder {
                color: $form-placeholder-color;
            }
        }
    }

    .form__note {
        display: none;
        float: right;
        font-size: $form-note-size;
        color: $form-error-color;
    }

    &.form__group--error > .form__inputbox {
        border-bottom-color: $form-error-color;
    }

    &.form__group--error > .form__note {
        display: inline;
    }

    @media only screen and (min-width: map-get($breakpoints, "sd")) {
        height: 60px;
        
        .form__inputbox .form__icon {
            width: vw-to-px(map-get($container-widths, "sd"), $form-icon-size);
            height: vw-to-px(map-get($container-widths, "sd"), $form-icon-size);
        }

        .form__note {
            font-size: vw-to-px(map-get($container-widths, "sd"), $form-note-size);
        }
    }
}

@mixin form-submit {
    @include button-alpha($form-submit-color);
    margin: 10px 0;

    &:hover {
        color: $form-submit-bg;
    }

    &.form__submit--error {
        color: $form-error-color;
        border-color: $form-error-color;

        &:hover {
            background: $form-error-color;
            color: $form-submit-bg;
        }
    }

    &.form__submit--success {
        background: $form-success-color;
        color: $form-submit-bg;
        border-color: $form-success-color;
        cursor: auto;
    }
}
