# Node modules foder.
/node_modules

# Keys & certs files.
*.pem

# Environment variables file.
.env

# Whitelist.
/public/*
!/public/images
/public/images/*
!/public/images/profile
/public/images/profile/*
!/public/images/profile/default_profile.png
!/public/images/group
/public/images/group/*
!/public/images/group/default_group.jpg
