# Node modules foder.
/node_modules

# Package-lock file
package-lock.json

# Keys & certs files.
*.pem

# Environment variables file.
.env

# Whitelist.
/public/*
!/public/images
/public/images/*
!/public/images/profile
/public/images/profile/*
!/public/images/profile/default_profile.png
